.App {
  text-align: center;
}


body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(193, 216, 239);
}

.navbar {
  width: 100%;
  height: 60px;
  background-color: rgb(84, 129, 234);
  display: flex;
  align-items: center;
  /* justify-content:flex-end; */
  
}

.navbar .links {
  text-align: center;
  /* float: right;
  color: whitesmoke;
  display: block; */
  margin-right: 50px;
  /* padding-right: 0%;
  justify-content: flex-start; */
  float: inline-end;
  /* justify-content: flex-end; */
}

.links a {
  /* float: left; */
  /* padding: 14px 16px; */
  color:black;
  text-decoration: none;
  border-bottom: 3px solid rgb(0, 0, 0);
  padding-bottom: 2px;
  margin: 10px;
  padding-left: 0%;
  
}



.navbar .user {
  display: flex;
  /* justify-content: first baseline; */
  align-items: center;
  margin-right: 50px;
  float: right;
}

.user p {
  font-size: 15px;
  margin-right: 10px;
  color: white;
  float: right;
  padding-left: 800px;
}

.user img {
  font-size: 15px;
  border-radius: 50%;
}

.user button {
  font-size: 15px;
  margin-left: 10px;
  background-color: rgb(219, 131, 131);
}

.appName {
  /* justify-content: flex-start;
  align-content: flex-start; */
  float: inline-start;
  color: rgb(95, 3, 3);
}


input,
textarea {
  font-family: "Nunito", sans-serif;
}

.createpost{
  width:100%;
  height: auto;
  display: flex;
  justify-content: center;
}

form{
  margin-top: 50px;
  padding: 30px 20px;
  width: 320px;
  border-radius: 7px;
  background-color: bisque;
  backdrop-filter: blur(5px);
  background-color: blue;
  overflow: hidden;
  
}

input,
textarea {
  padding: 8px 10px;
  margin: 3px 8px 16px 8px;
  background-color: azure;
  border: 0px transparent;
  border-radius: 5px;
  color: blueviolet;
  font-size: 16px;
  z-index: 1;
}

.submitForm:hover {
  cursor: pointer;
}



